.container {
    position: relative;
}

.loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: #333;
    animation: l2 1s infinite linear;
    margin: auto;
}
@keyframes l2 {
    to {
        transform: rotate(1turn);
    }
}
