@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.boxSize {
    @include flex_box_custom(center, center, 10px);
    position: absolute;
    bottom: -10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    min-height: 50px;
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}

.sizes {
    @include flex_box_custom(center, center, 0px);
    border: 2px solid #e1e1e1;
    font-size: 10px;
    cursor: pointer;

    &:hover {
        border: 2px solid $primary_color;
        transition: border 500ms;
    }
}

.isActiveSize {
    border: 2px solid $primary_color !important;
}

.boxAddSize {
    @include flex_box_custom(center, center, 0px);

    .addSize {
        @include flex_box_custom(center, center, 0px);
        position: absolute;
        bottom: 15px;
        padding: 3px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
    }
}

.boxSizeViewProduct {
    @include flex_box_custom(unset, center, 10px);
    font-size: 12px;
}
