@import '@styles/mixins.module.scss';

.container {
    @include flex_box_custom(space-between, unset, 10px);

    flex-direction: column;
    padding: 30px 20px;
    height: 93vh;

    .boxContent {
    }

    .boxBtn button {
        width: 100%;
    }
}
