@import '@styles/mixins.module.scss';

.header {
    padding-top: 30px;
}

.container {
    @include flex_box_custom(space-between, unset, 10px);

    flex-direction: column;
    padding: 0px 20px 0px 20px;
    height: 80%;

    .boxBtn {
        @include flex_box_custom(space-between, unset, 10px);
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}
