@import '@styles/mixins.module.scss';

.container {
    @include flex_box_custom(space-between, unset, 10px);

    flex-direction: column;
    height: 95%;
    padding: 30px 20px 0 20px;

    .total {
        @include flex_box_custom(space-between, center, 0px);
    }

    .boxBtn {
        @include flex_box_custom(center, center, 10px);
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}
