@import '@styles/mixins.module.scss';

.resPhoneTablet {
    @include respond(mobile-tablet) {
        display: none !important;
    }
}

.container {
    @include flex_box_custom(center, center, 0px);
    flex-direction: column;
    width: 50%;
    margin: auto;

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    p {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
