@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    padding-top: 83px;

    .navigateSection {
        @include flex_box_custom(space-between, center, 0px);
        color: $seconddary_color;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 0px;

        @include respond(mobile-tablet) {
            .previousPage {
                display: none;
            }

            .breadcrumb {
                padding: 0px 15px;
            }
        }
    }

    .containerRelatedProduct {
        padding: 15px;
    }

    .contentSection {
        @include flex_box_custom(unset, flex-start, 15px);

        .imageBox {
            max-width: 610px;

            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            img {
                width: calc(100% / 2 - 10px);
                height: 350px;
                object-fit: cover;
                border-radius: 3px;
                cursor: zoom-in;
            }

            @include respond(phone) {
                display: none;
            }
        }

        .sliderCommon {
            display: none;
            padding: 0 15px;
            @include respond(phone) {
                display: inline-block;
                width: 100%;
            }
        }

        .infoBox {
            flex-grow: 1;
            width: 50%;
            h1 {
                font-size: 24px;
                margin-top: 0px;
                font-weight: 400;
                color: $four_color;
            }

            .price {
                font-size: 20px;
                color: $seconddary_color;
            }

            .des {
                color: $thr_color;
                font-weight: 400;
            }

            @include respond(mobile-tablet) {
                width: 100%;
                padding: 0 15px;
            }
        }
        button {
            @include flex_box_custom(center, center, 10px);

            width: 100%;
        }
        .functionInfo {
            @include flex_box_custom(space-between, center, 20px);
            margin-top: 20px;

            .boxBtn {
                flex-grow: 1;
            }
        }

        .labelQty {
            margin-top: 15px;
            font-size: 14px;
            color: $thr_color;
            margin-bottom: 7px;
        }

        .boxOr {
            @include flex_box_custom(center, center, 10px);
            font-size: 12px;
            color: $thr_color;
            margin: 15px 0px;
            .line {
                width: 100%;
                height: 1px;
                background-color: #e1e1e1;
                flex-grow: 1;
            }
        }

        .addFunction {
            @include flex_box_custom(unset, center, 10px);
            margin: 20px 0px;

            div {
                @include flex_box_custom(center, center, 0px);

                border: 1px solid #e1e1e1;
                border-radius: 50%;
                padding: 11px;
                cursor: pointer;
                svg {
                    font-size: 20px;
                }
            }
        }

        .info {
            @include flex_box_custom(unset, flex-start, 10px);

            margin: 16px 0px;
            flex-direction: column;
            color: $four_color;

            span {
                color: $seconddary_color;
            }
        }

        @include respond(phone) {
            flex-direction: column;
        }

        @include respond(tablet) {
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .lableRelatedProduct {
        text-align: center;
        font-weight: 400;
        color: $primary_color;
    }
}

.containerInfo {
    font-weight: 300;
    div:last-child {
        border-bottom: unset;
    }
    .itemInfo {
        @include flex_box_custom(flex-start, center, 0px);

        border-bottom: 1px solid #e1e1e1;
        padding: 15px 0px;

        div {
            width: 50%;
        }

        .title {
            color: $seconddary_color;
        }

        .content {
            color: $thr_color;
        }
    }
}

.containerReview {
    .reviewList {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 15px;
            .boxContent {
                @include flex_box_custom(flex-start, unset, 5px);
                img {
                    width: 40px;
                    height: 40px;
                }
                .stars {
                    color: #fdd835;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                p {
                    margin: 0;
                    font-size: 14px;
                    color: #333;
                }
                .updateReview {
                    font-size: 13px;
                    height: 20px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .replyForm {
        padding-top: 30px;

        .commentReplyTitle {
            font-size: 14px;
            margin-bottom: 14px;
            padding-bottom: 14px;
            border-bottom: 1px solid #e1e1e1;
            color: $thr_color;
        }

        .commentNotes {
            font-size: 14px;
            color: $thr_color;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .commentFormCookiesConsent {
                display: flex;
                align-items: flex-start;
                gap: 5px;

                span {
                    color: $thr_color;
                }
            }

            .btnSubmit {
                width: 100%;
                max-width: 100px;
            }
        }
    }
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
        color: $thr_color;

        span {
            color: #c62828;
        }
    }

    .boxItemStar {
        display: flex;
        gap: 0px;

        svg {
            color: #e1e1e1;
            cursor: pointer;
            transition: color 0.2s;

            &.active {
                color: #fdd835;
            }

            &:hover {
                color: #fdd835;
            }
        }

        @include respond(mobile-tablet) {
            gap: 7px;
        }
    }

    input,
    textarea {
        border: 1px solid #e1e1e1;
        padding: 8px 15px;
        outline: none;

        &:focus {
            border: 1px solid $seconddary_color;
        }
    }
}

.btnClear {
    font-size: 14px;
    cursor: pointer;
    margin: 25px 0px;
    width: 70px;
    text-decoration: underline;
}

.noRelatedProducts {
    @include flex_box_custom(center, center, 0px);

    margin-top: 50px;
}
