@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';
.container {
    @include flex_box_custom(center, center, 0px);

    margin: 65px 0px 15px;

    @include respond(phone) {
        margin-top: 35px;
    }
}

.headline {
    height: 2px;
    border-top: 1px solid $headling_color;
    border-bottom: 1px solid $headling_color;
    margin-top: 30px;
}

.containerMiddleBox {
    @include flex_box_custom(center, center, 0px);
    flex-direction: column;
    width: 60%;
    padding: 0px 50px;
    line-height: 0px;

    @include respond(phone) {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}

.description {
    font-size: 14px;
    color: $thr_color;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
    color: $primary_color;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
