@import '@styles/mixins.module.scss';
.containerMap {
    margin-top: 83px;

    iframe {
        border: 0;
        width: 100%;
        height: 450px;
        margin-top: 10px;
        @include respond(mobile-tablet) {
            width: 100%;
        }
    }
}
