@import '@styles/mixins.module.scss';
.containerMap {
    margin-top: 83px;
    margin-left: 30px;
    margin-right: 30px;
    iframe {
        border: 0;
        width: 1230px;
        height: 450px;

        @include respond(mobile-tablet) {
            width: 100%;
        }
    }
}
