@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.container {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    cursor: pointer;
    .title {
        @include flex_box_custom(center, center, 0px);
        flex-direction: column;

        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;

        @include respond(mobile-tablet) {
            margin-bottom: 5px;
            font-size: 16px;
        }
    }

    .title::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        padding-top: 1px;
        background-color: $primary_color;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 400ms;
    }

    .title:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    div {
        font-size: 18px;
    }
}
